.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-header-border);
    background-color: var(--color-white);
    height: 80px;
    padding-block: 24px 25px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo--black {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hover-color);
}

.logo__studio {
    color: var(--color-black);
}

.header__nav-list {
    margin-left: 93px;
    display: flex;
    gap: 46px;
}

.header__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
}

.nav-highlight {
    position: relative;
}

.nav-highlight::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--hover-color);
    border-radius: 2px;
    left: 0;
    bottom: -33px;
}

.header__link:visited {
    color: var(--color-black);
    transition: color var(--transition-duration) var(--cubic-bezier);
}

.header__link:hover,
.header__link:focus {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--hover-color);
}

.header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header__contact-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--transition-duration) var(--cubic-bezier), fill var(--transition-duration) var(--cubic-bezier);
    will-change: color, fill;
}

.header__icon {
    margin-right: 10px;
}

.header__icon:hover,
.header__icon:focus,
.header__contact-item:hover,
.header__contact-item:focus {
    color: var(--hover-color);
}

.header__icon:hover svg,
.header__icon:focus svg,
.header__contact-item:hover svg,
.header__contact-item:focus svg {
    --color2: #2196f3;
}